Migración del origen a una bbdd - Normalización y transformación de los datos.

In [1]:
import pandas as pd

In [3]:
# Cargar el archivo CSV original
df = pd.read_csv('../data/HR-Employee-Attrition.csv')

In [8]:
# Tabla Employees (Datos Generales)
employees = df[[
    'EmployeeNumber', 'Age', 'Gender', 'BusinessTravel', 'DistanceFromHome', 
    'Education', 'EducationField', 'MaritalStatus', 'Department', 'JobRole', 
    'Attrition'
]]
employees.head()

,EmployeeNumber,Age,Gender,BusinessTravel,DistanceFromHome,Education,EducationField,MaritalStatus,Department,JobRole,Attrition
0,1,41,Female,Travel_Rarely,1,2,Life Sciences,Single,Sales,Sales Executive,Yes
1,2,49,Male,Travel_Frequently,8,1,Life Sciences,Married,Research & Development,Research Scientist,No
2,4,37,Male,Travel_Rarely,2,2,Other,Single,Research & Development,Laboratory Technician,Yes
3,5,33,Female,Travel_Frequently,3,4,Life Sciences,Married,Research & Development,Research Scientist,No
4,7,27,Male,Travel_Rarely,2,1,Medical,Married,Research & Development,Laboratory Technician,No

In [6]:
print(df['Attrition'].value_counts())

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [21]:
# Tabla EmployeeEvaluations (Rendimiento y Satisfacción)
evaluations = df[[
    'EmployeeNumber', 'JobSatisfaction', 'JobInvolvement', 'PerformanceRating', 
    'RelationshipSatisfaction', 'WorkLifeBalance', 'EnvironmentSatisfaction'
]]

In [24]:
# Tabla JobDetails (Información del Puesto y Experiencia)
job_details = df[[
    'EmployeeNumber', 'JobLevel', 'NumCompaniesWorked', 'YearsInCurrentRole', 
    'YearsSinceLastPromotion', 'YearsWithCurrManager', 'TotalWorkingYears', 
    'TrainingTimesLastYear','YearsAtCompany'
]]

In [27]:
# Tabla OverTimeRecords (Registro de Horas Extra)
overtime_records = df[[
    'EmployeeNumber', 'OverTime'
]]

In [13]:
# Tabla CompensationBenefits (Salario y Beneficios)
compensation = df[[
    'EmployeeNumber', 'MonthlyIncome', 'HourlyRate', 'MonthlyRate', 'DailyRate', 
    'StockOptionLevel', 'PercentSalaryHike'
]]

In [14]:
# Tabla EmployeeStatus (Datos constantes y administrativos) 
employee_status = df[[
    'EmployeeNumber', 'Over18', 'EmployeeCount', 'StandardHours'
]]

In [15]:
# Guardar df en .csv

employees.to_csv("data/employees.csv", index=False)
evaluations.to_csv("data/employee_evaluations.csv", index=False)
job_details.to_csv("data/job_details.csv", index=False)
compensation.to_csv("data/compensation_benefits.csv", index=False)
overtime_records.to_csv("data/overtime_records.csv", index=False)
employee_status.to_csv("data/employee_status.csv", index=False)